extends ../layout

block title
    title #{title}

block head
    link(rel='stylesheet', href='/stylesheets/cards.css')

block content
    include ../nav_drawer.pug
    include location_card_grid.pug
    include add_location_fab.pug
