extends ../layout

block title
  title Room Form

block head
    link(rel='stylesheet', href='/stylesheets/form.css')

block content
    include ../nav_drawer.pug
    
    main#form_main.web-main.mdl-layout__content
      br
      br
      br
      .mdl-grid.portfolio-max-width
        .mdl-cell.mdl-cell--4-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
        .mdl-cell.mdl-cell--4-col.mdl-card.mdl-shadow--4dp
          #form_create_class
            h3 Add a Room
            form(method="POST" action="{{url_for(")
              .mdl-textfield.mdl-js-textfield
                input.mdl-textfield__input(type="text" name="location_name" placeholder="Name of the Room" required="")
              .mdl-textfield.mdl-js-textfield
                input.mdl-textfield__input(type="text" name="num_buildings" placeholder="Floor No." required="")
              .mdl-textfield.mdl-js-textfield
                input.mdl-textfield__input(type="text" name="city" placeholder="Level No." required="")
              .mdl-textfield.mdl-js-textfield
                textarea.mdl-textfield__input(type="text" rows="4" name="description" placeholder="Description" required="")
              h5 Room ID : 2423435
              br
              input.rc-button.rc-button-submit(type="submit" value="Submit")
            br

