extends ../layout

block title
    title Rooms

block head
    link(rel='stylesheet', href='/stylesheets/cards.css')

block content
    include ../nav_drawer.pug
    include room_cards.pug
    include add_room_fab.pug
