div
      a(href="{{url_for(")
        button#add_fab.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.md-fab-bottom-right(type="button")
          i.material-icons add