doctype html
html
  head
    block title

    block head
    link(rel="stylesheet", href="stylesheets/material-icons.css")
    link(rel="stylesheet", href="stylesheets/material.teal-amber.min.css")
    script(src="javascripts/material.min.js")

    
  body
    block content