include glogout

.dropdown1
      span#name
        | AAA
      // Left aligned menu below button
      button#demo-menu-lower-right.mdl-button.mdl-js-button.mdl-button--icon
        i.material-icons more_vert
      ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="demo-menu-lower-right")
        li.mdl-menu__item(onclick="signOut()") Logout
