.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      include header.pug
      .mdl-layout__drawer
        span.mdl-layout-title Laberinto
        nav.mdl-navigation
          a.mdl-navigation__link(href="{{url_for('classroom.index')}}") Classes
          a.mdl-navigation__link(href="{{url_for('classroom.joined_classes')}}") Joined Classes
          a.mdl-navigation__link(href="#") Calendar
          a.mdl-navigation__link(href="#") Work