.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      include header.pug
      .mdl-layout__drawer
        span.mdl-layout-title Laberinto
        nav.mdl-navigation
          a.mdl-navigation__link(href="") Locations
          a.mdl-navigation__link(href="") Trained Rooms
          a.mdl-navigation__link(href="") Floor Plans
          a.mdl-navigation__link(href="") Settings
          a.mdl-navigation__link(href="") About
