body {
  background-image: url("../images/map_background.jpg");
  background-repeat: no-repeat;

}

#form_create_class{
  padding: 16px;
  text-align:center;
  height: 500px;
}

.rc-button, .rc-button:visited {
  display: inline-block;
  min-width: 120px;
  text-align: center;
  color: #444;
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  padding: 0 8px;
  line-height: 36px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
  border: 1px solid #dcdcdc;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  -o-transition: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
.rc-button-submit, .rc-button-submit:visited {
  border: 1px solid #009688;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #009688;
  background-image: -webkit-linear-gradient(top,#009688,#00897B);
  background-image: -moz-linear-gradient(top,#009688,#00897B);
  background-image: -ms-linear-gradient(top,#009688,#00897B);
  background-image: -o-linear-gradient(top,#009688,#00897B);
  background-image: linear-gradient(top,#009688,#00897B);
}