div
  //- a(href='/' + 'addbuilding')   
  form(method="GET" action="/addbuilding")
    input(type="hidden" name="id" value=""+locationId )
    button#add_building_fab.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.md-fab-bottom-right(type="submit")
      i.material-icons add
