extends ../layout

block title
  title #{title}

block head
  link(rel='stylesheet', href='/stylesheets/buildingform.css')
  meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
  meta(charset='utf-8')

block content
  #container
    #building-form 
      h4 Add a Building
        form(method="POST" action="/addbuilding" autocomplete="off")
          .mdl-textfield.mdl-js-textfield
            input.mdl-textfield__input(type="text" name="building_name" placeholder="Name of the Building" required="")
          .mdl-textfield.mdl-js-textfield
            input.mdl-textfield__input(type="number" name="num_floors" placeholder="No. of floors" required="" min="1")
          .mdl-textfield.mdl-js-textfield
            input.mdl-textfield__input(type="number" name="num_rooms" placeholder="No. of rooms" required="" min="1")
          .mdl-textfield.mdl-js-textfield
            input#sw.mdl-textfield__input(type="text" placeholder="Southwest Coordinate" required="" disabled readonly)
          .mdl-textfield.mdl-js-textfield
            input#nw.mdl-textfield__input(type="text" placeholder="Northwest Coordinate" required="" disabled readonly)
          .mdl-textfield.mdl-js-textfield
            input#ne.mdl-textfield__input(type="text" placeholder="Northeast Coordinate" required="" disabled readonly)
          input#coordinates(type="hidden" name="coordinates")
          input#location_latlng(type="hidden" name="location_latlng")
          br
          br
          input.rc-button.rc-button-submit(type="submit" value="Submit")
        br

    #map-container
      #pac-card.pac-card
        #pac-container
          input#pac-input(type='text', placeholder='Enter a location')
      #map
      #infowindow-content
        span#place-name.title
        br
        span#place-address
  div(style='clear:both')

block script
  script(src='javascripts/add_building_form.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCa4IHhuU65nfYlTQZc1Nn-N6noecEa-T4&libraries=places&callback=initMap' async='')
  

