div
  a(href='/addbuilding?id=' + locationId)
    button#add_location_fab.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.md-fab-bottom-right(type="button")
      i.material-icons add

