.page-content
      #page_body.grid
        div
          include building_card.pug
          include building_card.pug
          include building_card.pug
          include building_card.pug
          include building_card.pug
