.mdl-card.mdl-shadow--2dp.demo-card-square
  .mdl-card__title.mdl-card--expand
    h2.mdl-card__title-text  #{building.name}
  .mdl-card__supporting-text.text_area
    div
      b No. of floors : 
      | #{building.numFloors}
    div
      b No. of rooms : 
      |  #{building.numRooms}
  .mdl-card__actions.mdl-card--border
    a.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect(href='/rooms?id=' + building.encryptId)
      | View 
    a.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect(href="{{url_for('assignment.assign', class_code=class.class_code)}}")
      | Add Floorplan

