.mdl-card.mdl-shadow--2dp.demo-card-square
  .mdl-card__title.mdl-card--expand
    h2.mdl-card__title-text LHC
  .mdl-card__supporting-text.text_area
    div
      b No. of floors : 
      | 4
    div
      b  No. of rooms : 
      | 40
  .mdl-card__actions.mdl-card--border
    a.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect(href='/' + 'rooms')
      | View
    a.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect(href="{{url_for('assignment.assign', class_code=class.class_code)}}")
      | Add Floorplan

.mdl-card.mdl-shadow--2dp.demo-card-square
  .mdl-card__title.mdl-card--expand
    h2.mdl-card__title-text DES
  .mdl-card__supporting-text.text_area
    div
      b No. of floors : 
      | 4
    div
      b  No. of rooms : 
      | 40
  .mdl-card__actions.mdl-card--border
    a.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect(href='/' + 'rooms')
      | View
    a.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect(href="{{url_for('assignment.assign', class_code=class.class_code)}}")
      | Add Floorplan

.mdl-card.mdl-shadow--2dp.demo-card-square
  .mdl-card__title.mdl-card--expand
    h2.mdl-card__title-text Apex
  .mdl-card__supporting-text.text_area
    div
      b No. of floors : 
      | 8
    div
      b  No. of rooms : 
      | 96
  .mdl-card__actions.mdl-card--border
    a.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect(href='/' + 'rooms')
      | View
    a.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect(href="{{url_for('assignment.assign', class_code=class.class_code)}}")
      | Add Floorplan

.mdl-card.mdl-shadow--2dp.demo-card-square
  .mdl-card__title.mdl-card--expand
    h2.mdl-card__title-text Multipurpose Block
  .mdl-card__supporting-text.text_area
    div
      b No. of floors : 
      | 5
    div
      b  No. of rooms : 
      | 36
  .mdl-card__actions.mdl-card--border
    a.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect(href='/' + 'rooms')
      | View
    a.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect(href="{{url_for('assignment.assign', class_code=class.class_code)}}")
      | Add Floorplan

.mdl-card.mdl-shadow--2dp.demo-card-square
  .mdl-card__title.mdl-card--expand
    h2.mdl-card__title-text ESB
  .mdl-card__supporting-text.text_area
    div
      b No. of floors : 
      | 4
    div
      b  No. of rooms : 
      | 40
  .mdl-card__actions.mdl-card--border
    a.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect(href='/' + 'rooms')
      | View
    a.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect(href="{{url_for('assignment.assign', class_code=class.class_code)}}")
      | Add Floorplan