.dropdown
      button#add_class_fab.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.md-fab-bottom-right(type="button" onclick="displayMenu()")
        i.material-icons add
      #fabDropdown.dropdown-content
        a(onclick="displayDialog()") Join Classroom
        a(href="{{url_for('classroom.createclass')}}") Add Classroom
