.page-content
      #class_body.class_grid
        // Square card
        div
          include location_card.pug
          include location_card.pug
          include location_card.pug
          include location_card.pug
          include location_card.pug
