.page-content
      #page_body.grid
        // Square card
        div
          include location_card.pug
          include location_card.pug
          include location_card.pug
          include location_card.pug
          include location_card.pug
