.mdl-card.mdl-shadow--2dp.demo-card-square
  .mdl-card__title.mdl-card--expand
    h2.mdl-card__title-text #{loc.name}
  .mdl-card__supporting-text.text_area
    div
      b No. of buildings : 
      | #{loc.buildings}
    div
      b  City : 
      | #{loc.city}
  .mdl-card__actions.mdl-card--border
    form(method="POST" action="/buildings")
      input(type="hidden" name="locationId" value="" + loc.locationId)
      input.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect(type="submit" value="View")
    