#panel
  p Select 3 corners of building
  p Southwest corner
  input#sw_input(type='text', name='sw', disabled)
  button#sw Add
  br
  p Northwest corner
  input#nw_input(type='text', name='nw', disabled)
  button#nw Add
  br
  p Northeast corner
  input#ne_input(type='text', name='ne', disabled)
  button#ne Add
  br
  input#save_coordinates(type='submit', value='Save')
  br
  br