#panel
  p Select 3 corners of building
  p Southwest corner
  input#sw_input(type='text', name='sw', disabled)
  button#sw(onclick='addCoordinates(this)') Add
  br
  p Northwest corner
  input#nw_input(type='text', name='nw', disabled)
  button#nw(onclick='addCoordinates(this)') Add
  br
  p Northeast corner
  input#ne_input(type='text', name='ne', disabled)
  button#ne(onclick='addCoordinates(this)') Add
  br
  br