#panel
  form(action="")
    select#select_floor(name="floor")
      option(value="" disabled selected hidden) Select Floor
      - for(var i = 1; i <= building.numFloors; i++) {
          option(value=i) #{i}
      - }
    br
    br
    input#image_file(type='file' name="image" accept=".png, .jpg, .jpeg" required)
    input(type="button" id="floorplan_image_upload_btn" value="Upload Floorplan" disabled)
  br
  br